body{
    background-color: #f8f0e3;
    margin: 0;
}

.buttonendanimation{
    visibility: hidden;
}

/*

.entrance{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: lightgrey;
    opacity: 0.8;
}
.entrance-animation{
    animation: appear .5s ease-in-out forwards;
}
@keyframes appear{
    to{
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}
.buttonendanimation{
    border: 2px solid #e3f8f5;
    background-color: #e3f8f5;
    border-radius: 15px;
    font-size: 2rem;
    width:25%;
    height: 4rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 4rem;
    position: absolute;
    left:38%;
    top:43%;
    
}
.buttonendanimation-only:hover{
    animation: scaleanimation .7s ease forwards;
    animation-play-state: running;
    transition: transform .5s;
    cursor: pointer;
    backface-visibility: hidden;
}
.buttonendanimation-secondanimation{
    opacity:1;
    animation: dissapear .8s ease-in-out forwards;
    animation-play-state: running;
}
@keyframes scaleanimation{
    to{
        transform: scale(1.05);
        zoom:105%;
    }
}
@keyframes dissapear{
    to{
        opacity:0;
    }
}
*/
.maincontainer{
    
}
.maincontainer-header{
    display: flex;
    background-color: #aeaa9f;
    flex-direction: row;
    padding: 1.25rem;
    justify-content: space-between;
    border: 2px solid #f8f7e3;
    border-radius: 0 0 10px 10px;
}
.maincontainer-header-left{
    font-size: 1.2rem;
}
.maincontainer-header-right{
    font-size: 1.2rem;
}
.maincontainer-header-left:hover{
    cursor: pointer;
}
.maincontainer-header-right:hover{
    cursor: pointer;
}
.leftcontainer{

    width:12rem;
    height:70vh;
    position: absolute;
    padding: .5rem;
    left: -14rem;
}
.leftcontainer-animation{
    animation: toright .7s ease-in-out forwards;
    transition: all .4s;
}
.leftcontainer-animation-back{
    animation: toleft .7s ease-in-out forwards;
    transition: all .4s;
}
@keyframes toright{
    to{
        left:0;
    }
}
@keyframes toleft{
    from{
        left: 0;
    }
    to{
        left: -14rem
    }
}

.leftlists{
    padding: .5rem;
}
.leftlists > li{
    display: flex;
    margin-top: 1.5rem;
    text-align: center;
    font-size: 1.2rem;
    border-top: 1px solid #aeaa9f;
    line-height: 2rem;
    text-indent: .7rem;
    padding-top: .8rem;
}
.leftlists > li:hover{
    cursor: pointer;
}
.leftclose{
    width: 25px;
    height:5px;
    position: absolute;
    left: 2rem;
    top: 1.9rem;
    visibility: hidden;
}
.leftclose-visible{
    visibility: visible;
}
.left-word-visible{
    visibility: visible;
}
.left-word-novisible{
    visibility: hidden;
}
.leftclose::before{
    content: " ";
    width: 25px;
    height: 5px;
    position: absolute;
    background-color: black;
    border: 1px solid black;
}
.leftclose::after{
    content: " ";
    width: 25px;
    height: 5px;
    position: absolute;
    background-color: black;
    border: 1px solid black
}
.leftclose::after{
    transform: rotate(45deg);
}
.leftclose::before{
    transform: rotate(-45deg);
}
.maincontainer-center{
    border: 2px solid red;
    width: 50%;
    margin: 5rem 15rem 0 auto;
    padding: 2rem;
    height: 30rem;
    position: relative;
}
.maincontainer-center-home{
    font-size: 1.5rem;
    text-align: center;
    line-height: 30rem;
}
.stop-animation{
    animation: appearoff .9s ease-in-out forwards;
    transition: all .9s ease-in-out;
}
.maincontainer-center-about{
    font-size: 1.5rem;;
    opacity:1;
    position: absolute;
    top: 0;
    opacity: 0;
    height: 30rem;
    padding: 2rem 3rem 2rem 3rem;
    overflow: auto;
}
.animate{
    animation: aboutinfoappear .9s ease-in-out forwards;
    transition: all .9s ease-in-out;
}
@keyframes aboutinfoappear {
    to{
        opacity: 1;
    }
}
@keyframes appearoff{
    to{
        opacity: 0;
    }
}