.mainwrapper {
  border: 2px solid red;
  padding: 0.2rem;
  clip-path: circle(0%);
  transition: clip-path 1500ms;
  animation: appear 1.5s ease forwards;
}
@keyframes appear {
  from {
    clip-path: circle(0%);
  }
  to {
    clip-path: circle(100%);
  }
}
