<style>
.mainwrapper{
    padding: .2rem;
    clip-path: circle(0%);
    transition: clip-path 1500ms;
    animation: appear 1.5s ease forwards;
    height: 100%;
    position: fixed;
    width: calc(100% - 2px - .2rem);
    border: 1.4px solid green;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center{
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: .4rem;
    text-align: center;
    border: 2px solid purple;
}
@keyframes appear {
    from{
        clip-path: circle(0%);
    }
    to{
        clip-path: circle(100%);
    }
}
</style>
<div class="mainwrapper">
    <div class="center">
        Michał Skorupa
    </div>
</div>